apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: {{ cloudflare_tunnel_namespace }}
data:
  config.yaml: |
    tunnel: {{ cloudflare_tunnel_id }}
    credentials-file: /etc/cloudflared/credentials.json
    metrics: 0.0.0.0:2000
    no-autoupdate: true
    ingress:
      - hostname: {{ cf_dask_domain }}
        service: {{ cf_dask_service }}
      - hostname: {{ cf_jupyterhub_domain }}
        service: {{ cf_jupyterhub_service }}
      - hostname: {{ cf_engine_domain }}
        service: {{ cf_engine_service }}
      - service: http_status:404
